@charset "utf-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
}
* html #main {
	height: 100%;
	width: 100%;
}
html {
	height: 100%;
	position:relative;
}
body {
	padding: 0;
	margin: 0;
	text-align: center;	
	height: 100%;
	position:relative;
	background:url(D:\Lair\Dropbox\Sites\appProfiles\appProfiles\App_Folders\UserData\12\bg.JPG) repeat fixed;
	background-position:top;
}
#main {
	height: 100%;
	width: 100%;
}
#bar {
	width: 100%;
	height: 40px;
	background-color: #000;
	position: relative;
}
#clear {
	clear: both;
}
#base {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	min-height: 100%;
	height: auto;
	text-align: center;
}
#container {
	position: relative;
	margin: auto;
	margin-top: 60px;
	padding-bottom: 30px;
	width: 900px;
	height: auto;
}
#footwear {
	border: 0px;
	padding: 0px;
	height: auto;
	width: 100%;
	position: absolute;
	text-align: center;
	bottom: 0;
	left: 0;
}
#footweat-data {
	position: relative;
	width: 880px;
	margin: auto;
	text-align: left;
}
#header-transparence {
	position: absolute;
	top: -10px;
	left: 0px;
	width: 900px;
	height: 160px;
	background:#FFFFFF;
	text-align: center;
	-webkit-border-radius: 8px;/*safari*/
	-khtml-border-radius: 8px;/*safari()*/
	-moz-border-radius: 8px;/*mozilla complacentes(FF,Moz,NetScap)*/
	-opera-border-radius: 8px;
	border-radius: 8px;			
	filter:alpha(opacity=25);
	-moz-opacity: 0.25;
	opacity: 0.25;
	-khtml-opacity: 0.25;
}
#header-data {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	width: 870px;
	height: 128px;
	background: #FFFFFF;
	border: 1px solid #bbbbbb;
	text-align: left;	
	-webkit-border-radius: 8px;/*safari*/
	-khtml-border-radius: 8px;/*safari()*/
	-moz-border-radius: 8px;/*mozilla complacentes(FF,Moz,NetScap)*/
	-opera-border-radius: 8px;
	border-radius: 8px;	
}
#header-links {
	position: absolute;
	bottom: 0px;
	left: 0px;
}
#header-functions {
	position: relative;
	float: right;
}
#header-info {
	position: relative;
	float: left;
}
#menu-transparece{
	position: absolute;
	left: 0px;
	top: 160px;
	width: 190px;
	height: 203px;
	background:#FFFFFF;
	text-align: center;
	-webkit-border-radius: 8px;/*safari*/
	-khtml-border-radius: 8px;/*safari()*/
	-moz-border-radius: 8px;/*mozilla complacentes(FF,Moz,NetScap)*/
	-opera-border-radius: 8px;
	border-radius: 8px;			
	filter:alpha(opacity=25);
	-moz-opacity: 0.25;
	opacity: 0.25;
	-khtml-opacity: 0.25;
}
#menu-container {
	position: relative;
	float: left;
	width: 170px;
	height: 184px;
	margin-top: 28px;
	margin-left: 8px;
	background: #FFFFFF;
	border: 1px solid #bbbbbb;
	text-align: center;	
	-webkit-border-radius: 8px;/*safari*/
	-khtml-border-radius: 8px;/*safari()*/
	-moz-border-radius: 8px;/*mozilla complacentes(FF,Moz,NetScap)*/
	-opera-border-radius: 8px;
	border-radius: 8px;			
}
ul#menu-buttons {
	width:150px;
	margin:auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding:0;
	list-style-type:none;
	text-align: center;
}
ul#menu-buttons li {
	border-bottom: 1px dashed #BBBBBB;
	margin-bottom: -3px;
	height: 30px;
	position: relative;
}
ul#menu-buttons .menu-buttons-first-li {
	border-top: 1px dashed #BBBBBB;
	border-bottom: 1px dashed #BBBBBB;
}
ul#menu-buttons li a {
	width: 100%;
	height: 100%;
	margin-top: 3px;
}
ul#menu-buttons li .menu-buttons-rest-a {
	padding-top: 3px;
}
ul#menu-buttons li a:link, ul#menu-botoes li a:visited {
	display:block;
	height:1%;
	text-decoration:none;
	color:#CCCCCC;
}
#page-transparece{
	position: absolute;
	right: 0px;
	top: 160px;
	width: 700px;
	height: 180px;
	background:#FFFFFF;
	text-align: center;
	-webkit-border-radius: 8px;/*safari*/
	-khtml-border-radius: 8px;/*safari()*/
	-moz-border-radius: 8px;/*mozilla complacentes(FF,Moz,NetScap)*/
	-opera-border-radius: 8px;
	border-radius: 8px;			
	filter:alpha(opacity=25);
	-moz-opacity: 0.25;
	opacity: 0.25;
	-khtml-opacity: 0.25;
}
#page-container {
	position: relative;
	float: right;
	width: 670px;
	height: auto;
	background:#FFFFFF;
	padding: 5px;
	margin-top: 28px;
	margin-right: 10px;
	padding-bottom: 8px;
	border: 1px solid #bbbbbb;
	-webkit-border-radius: 8px;/*safari*/
	-khtml-border-radius: 8px;/*safari()*/
	-moz-border-radius: 8px;/*mozilla complacentes(FF,Moz,NetScap)*/
	-opera-border-radius: 8px;
	border-radius: 8px;		
}
#resume-description-div {
	margin: 0px;
	padding: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
}